body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}
header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.logo {
    font-size: 22px;
    font-weight: bold;
}
.plain-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.header-links{
    display: flex;
}
.header-links li {
    padding-right: 20px;
}

#first-section {
    background-color: #333333;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 80px;
    justify-content: space-around;
}
#first-section img {
    width: 400px;
    margin-bottom: -200px;
}

.paragraph-container {
    max-width: 500px;
}

#first-section h1 {
    font-size: 45px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 15px;
}

#first-section h2 {
    opacity: 0.6;
    font-weight: normal;
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 50px;
    margin-top: 0;
}

#first-section button {
    background-color: #49B96F;
    padding: 15px 35px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 20px;
    font-weight: bold;
    border: none;
}

.section-title {
    font-weight: normal;
    text-align: center;
    font-size: 36px;
    line-height: 1.5;
}

h2.section-title {
    margin-top: 250px;
}
.section-subtitle {
    color: #aaaaaa;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    max-width: 700px;
    margin: 0 auto 50px;
}
.whole-table {
    display:flex;
    align-items: center;
}
  
.features-table {
    display: flex;
    color: #444;
    padding: 0 50px;
  }
  
.titlefeature {
    border-radius: 5px;
    padding: 20px;
    font-size: 40px;
  }

.text-center {
      text-align: center;
  }
.icon-feature {
    font-size: 47px;
    color: #49B96F;
    margin-bottom: 30px;
  }
.table-title {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 24px;
    text-transform: capitalize;
  }
.table-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
    padding-right: 10px;
    padding-left: 10px;
    color: #aaaaaa;
  }

  .separator {
      margin: 100px 50px;
      color: #aaaaaa;
      line-height: 1.5;
      opacity: 0.5;
  }

  #chapters {
    padding-bottom: 100px;
    overflow: hidden;
  }

  #table-two-column-one {
      padding-right: 40px;
  }

  .section-title-two {
    font-family: "Ubuntu", sans-serif;
    color: #222222;
    font-size: 36px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.section-subtitle-two {
    color: #aaaaaa;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    max-width: 700px;
    margin-bottom: 40px;
}

.features-sub-table {
    display: flex;
    color: #444;
    margin-top: 45px;
}

.features-sub-table:first-of-type {margin-top: 0px;}

.table-text-two {
    padding-left: 0px;
  }

.table-two-sub-column {
    padding-left: 20px;
}

.table-two-subtitle {
    font-family: "Ubuntu", sans-serif;
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin: 0px 0px 24px 0px;
    text-transform: capitatalize;
}